.FooterCallBlock {
  background: #246522;
  cursor: pointer;
  display: inline-block;
  @media (max-width: 768px) {
    padding-right: 45px;
    padding-left: 45px;
  }
}
.FooterCallNumber {
  align-items: center;
  color: #fff;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 19px;
  padding: 11.5px 64.5px;
}
.CallIconSvg {
  padding-right: 15px;
}
