.SectionBlockH1 {
  text-align: center;
  font-weight: bold;
  font-size: 62px;
  line-height: 73px;
  color: #1d8019;
}
.SectionTitleH1 {
}
.SectionBlockH2 {
  text-align: left;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #074205;
}
.SectionTitleH2 {
}
