.UsTitle {
  display: flex;
  // justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #074205;
  gap: 15px;
  padding-bottom: 70px;
  &:before {
    display: block;
    content: "";
    flex: 1 1 500px;
    border: 1px solid #c6cdc5;
  }
  &:after {
    display: block;
    content: "";
    flex: 1 1 500px;
    border: 1px solid #c6cdc5;
  }
}
@media (max-width: 468px and 320px) {
  .UsTitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #074205;
    gap: 10px;
    &:before {
      display: block;
      content: "";
      width: 100%;
      border: 1px solid #c6cdc5;
    }
    &:after {
      display: block;
      content: "";
      width: 100%;
      border: 1px solid #c6cdc5;
    }
  }
}
