.BannerTitle {
  padding-top: 76px;
  font-weight: bold;
  font-size: 62px;
  line-height: 73px;
  color: #074205;
}
.BannerTitle {
  @media (max-width: 768px) {
    padding-top: 0px;
    text-align: center;
  }
}
