.Section {
  width: 100%;
}
.SectionContainer {
  margin: 0 auto;
  max-width: 1100px;
  padding: 60px 30px;
}

@media (max-width: 768px) {
  .SectionContainer {
    max-width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media (max-width: 468px) {
  .SectionContainer {
    max-width: 428px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .SectionContainer {
    max-width: 290px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
