.SectionContainerQuestions {
  max-width: 1104px;
  margin: 0 auto;
  padding-bottom: 100px;
  @media (max-width: 870px) {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }
  @media (max-width: 375px) {
    max-width: 375px;
  }
}
