.Header {
  width: 100%;
}
.HeaderContainer {
  max-width: 1100px;
  padding: 30px 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .HeaderContainer {
    max-width: 708px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media (max-width: 468px) {
  .HeaderContainer {
    max-width: 428px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .HeaderContainer {
    max-width: 300px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .NavHidden {
    display: none;
  }
}

@media (max-width: 1024px) {
  .OrderHidden {
    display: none;
  }
}
.HamburgerHidden {
  display: none;
}
@media (max-width: 768px) {
  .HamburgerHidden {
    display: block;
  }
}
