.SectionContactsTitleBlock {
}
.SectionContactsTitle {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #074205;
  padding-bottom: 40px;
  @media (max-width: 870px) {
    padding-bottom: 30px;
  }
}
