.Footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  background: #012400;
}
.FooterContainer {
  margin: 0 auto;
  max-width: 1160px;
  padding: 40px 0px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .FooterContainer {
    max-width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media (max-width: 468px) {
  .FooterContainer {
    max-width: 428px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .FooterContainer {
    max-width: 290px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
