.Footer {
  width: 100%;
  background: #012400;
}
.FooterContainer {
  margin: 0 auto;
  max-width: 1160px;
  padding: 40px 0px;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .FooterContainer {
    max-width: 1024px;
    padding: 30px 0px 30px 0px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .FooterContainer {
    flex-direction: column;
    max-width: 768px;
    padding: 30px 0px 20px 0px;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .FooterContainer {
    max-width: 375px;
    padding: 30px 0px 20px 0px;
  }
}
