.FooterSocialFlex {
}
.FooterSocialMenu {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-left: 205px;
}
@media (max-width: 375px and 468px and 870px and 1024px) {
  .FooterSocialFlex {
    padding-top: 41px;
  }
  .FooterSocialMenu {
    padding-left: 0px;
  }
}
