.Order {
  border: 1px solid #074205;
}

.OrderLink {
  display: flex;
  text-decoration: none;
  padding: 20px 25px;
  line-height: 19px;
  color: #074205;
  &:hover {
    background: #1d8019;
    color: #fff;
  }
}
