.SectionUs {
  width: 100%;
}
.SectionContainerUs {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0px 0px 100px 0;
  @media (max-width: 768px) {
    max-width: 708px;
  }
  @media (max-width: 375px) {
    max-width: 375px;
  }
}
